body {
  margin: 0;
  overflow: hidden;
}

#three-canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#header {
  position: absolute;
  z-index: 1;
  top: 20px;
  width: calc(100% - 60px); /* Adjust width to consider padding */
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  pointer-events: none; /* Allow clicks to pass through */
  align-items: center;
}

.floating-text {
  font-size: 24px;
  pointer-events: none;
  color: white;
}

.count {
  font-size: 24px;
  pointer-events: none;
  color: white;
}

.count-unit {
  font-size: 24px;
  pointer-events: none;
  color: white;
  margin-left: 10px;
}

.change-text-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #793602;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  pointer-events: auto;
}

.change-text-button:hover {
  background-color: #b75103;
}

#title-page {
  background-color: #404040;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed; /* Make sure it's fixed to cover the entire viewport */
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 50px;
  color: white;
  text-align: center;
}

.enter-world {
  font-size: 24px;
  color: white;
  margin-top: 12px;
}

.enter-world:hover {
  position: relative;
  top: 12px;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

.explanation {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  width: 30vw;
}
